<div class="content" role="main">
  <h1> {{title}} </h1>
  <mat-tab-group>
    <mat-tab label="MD5">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput name="textmd5" #textmd5="ngModel" [(ngModel)]="text">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly value="{{hash}}">
        </mat-form-field>
        <button mat-flat-button color="primary" (click)="encrypt('md5')">Gerar Hash</button>
      </form>
    </mat-tab>
    <mat-tab label="CBC">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly>
        </mat-form-field>
        <button mat-flat-button color="primary">Gerar Hash</button>
      </form>
    </mat-tab>
    <mat-tab label="HMAC">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly>
        </mat-form-field>
        <button mat-flat-button color="primary">Gerar Hash</button>
      </form>
    </mat-tab>
    <mat-tab label="MAC">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly>
        </mat-form-field>
        <button mat-flat-button color="primary">Gerar Hash</button>
      </form>
    </mat-tab>
    <mat-tab label="SHA-1">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly>
        </mat-form-field>
        <button mat-flat-button color="primary">Gerar Hash</button>
      </form>
    </mat-tab>
    <mat-tab label="SHA-2">
      <form class="example-form">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Text</mat-label>
          <input matInput>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Result</mat-label>
          <input matInput readonly>
        </mat-form-field>
        <button mat-flat-button color="primary">Gerar Hash</button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>